In [37]:
import pandas as pd
import os
from sqlalchemy import create_engine

engine=create_engine(os.environ.get('stbdb_url'))
conn=engine.connect()

In [38]:
sql_query="""
SELECT * FROM telemetry_monaco_race_2024 WHERE laps=14
"""

pd.read_sql(sql_query,conn)

,timestamp,driver_num,status,laps,laptime,position,gap_from_leader,interval,pits,is_best,...,maxspeedtraps2,maxspeedtraps3,maxspeedtraps4,bts1,bts2,bts3,btlap,ss_s1,ss_s2,ss_s3
0,2024-05-26 14:03:21.312,16,0,14,79.913,1,0.000,0.000,1,32,...,182,253,272,20.818,36.898,21.063,79.017,3541,415061,422
1,2024-05-26 14:03:22.889,16,0,14,79.913,1,0.000,0.000,1,0,...,182,253,272,20.818,36.898,21.063,79.017,3541,415061,422
2,2024-05-26 14:03:22.889,81,0,14,80.014,2,0.462,0.462,1,32,...,185,264,277,20.677,36.996,21.058,78.745,1381,693589,406
3,2024-05-26 14:03:33.739,16,0,14,79.913,1,0.000,0.000,1,0,...,182,253,272,20.818,36.898,21.063,79.017,22,0,0
4,2024-05-26 14:03:33.739,81,0,14,80.014,2,0.396,0.396,1,32,...,185,264,277,20.677,36.996,21.058,78.745,54,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,2024-05-26 14:04:35.012,18,0,14,80.427,11,21.356,1.593,1,64,...,182,269,285,20.801,37.389,21.807,80.427,1365,25941,0
1131,2024-05-26 14:04:35.012,14,0,14,81.392,12,24.069,2.608,1,1,...,172,258,281,21.355,37.752,21.664,81.366,1446,5461,0
1132,2024-05-26 14:04:35.012,2,0,14,81.219,15,25.989,0.600,1,64,...,176,267,285,21.430,37.832,21.842,81.219,1365,1365,0
1133,2024-05-26 14:04:35.012,77,0,14,81.221,14,25.389,0.631,1,65,...,178,269,284,21.517,37.769,21.719,81.221,1365,1365,0
1134,2024-05-26 14:04:35.012,24,0,14,81.264,16,26.338,0.349,1,1,...,183,268,282,21.425,37.756,21.771,81.193,1449,1365,0