In [2]:
import requests as rq
import json
import pandas as pd

In [3]:
test=pd.DataFrame(json.loads(rq.get('https://api.openf1.org/v1/car_data?driver_number=55&session_key=9159').text))

In [4]:
test

,driver_number,rpm,speed,n_gear,throttle,brake,drs,date,session_key,meeting_key
0,55,0,0,0,0,0,0,2023-09-15T12:45:02.318000+00:00,9159,1219
1,55,0,0,0,0,0,0,2023-09-15T12:45:02.598000+00:00,9159,1219
2,55,0,0,0,0,0,0,2023-09-15T12:45:02.918000+00:00,9159,1219
3,55,0,0,0,0,0,0,2023-09-15T12:45:03.279000+00:00,9159,1219
4,55,0,0,0,0,0,0,2023-09-15T12:45:03.519000+00:00,9159,1219
...,...,...,...,...,...,...,...,...,...,...
18444,55,0,0,0,104,104,8,2023-09-15T14:07:54.814000+00:00,9159,1219
18445,55,0,0,0,104,104,8,2023-09-15T14:07:55.054000+00:00,9159,1219
18446,55,0,0,0,104,104,8,2023-09-15T14:07:55.494000+00:00,9159,1219
18447,55,0,0,0,104,104,8,2023-09-15T14:07:55.894000+00:00,9159,1219
18448,55,0,0,0,104,104,8,2023-09-15T14:07:56.135000+00:00,9159,1219

In [26]:
test2=pd.DataFrame(json.loads(rq.get('https://api.openf1.org/v1/location?driver_number=55&session_key=9159').text))

In [18]:
test['datetime']=pd.to_datetime(test['date'],format='mixed')
test2['datetime']=pd.to_datetime(test2['date'],format='mixed')
pd.merge_asof(test,test2,on='datetime')

KeyError: 'date'

In [27]:
test2

,x,y,z,driver_number,date,session_key,meeting_key
0,0,0,0,55,2023-09-15T12:45:02.366000+00:00,9159,1219
1,0,0,0,55,2023-09-15T12:45:02.586000+00:00,9159,1219
2,0,0,0,55,2023-09-15T12:45:02.746000+00:00,9159,1219
3,0,0,0,55,2023-09-15T12:45:02.986000+00:00,9159,1219
4,0,0,0,55,2023-09-15T12:45:03.147000+00:00,9159,1219
...,...,...,...,...,...,...,...
19022,852,-157,189,55,2023-09-15T14:07:55.414000+00:00,9159,1219
19023,852,-157,189,55,2023-09-15T14:07:55.654000+00:00,9159,1219
19024,852,-157,189,55,2023-09-15T14:07:56.014000+00:00,9159,1219
19025,852,-157,189,55,2023-09-15T14:07:56.175000+00:00,9159,1219
19026,852,-157,189,55,2023-09-15T14:07:56.354000+00:00,9159,1219

In [31]:
pd.DataFrame(json.loads(rq.get('https://api.openf1.org/v1/team_radio?session_key=9523&driver_number=1').text))

,session_key,meeting_key,driver_number,date,recording_url
0,9523,1236,1,2024-05-26T13:58:55.583000+00:00,https://livetiming.formula1.com/static/2024/20...
1,9523,1236,1,2024-05-26T15:03:14.548000+00:00,https://livetiming.formula1.com/static/2024/20...
2,9523,1236,1,2024-05-26T15:28:19.559000+00:00,https://livetiming.formula1.com/static/2024/20...
3,9523,1236,1,2024-05-26T15:28:19.559000+00:00,https://livetiming.formula1.com/static/2024/20...

In [30]:
rq.get('https://api.openf1.org/v1/sessions?country_name=Monaco&session_name=Race&year=2024').text

'[{"session_key":9523,"session_name":"Race","date_start":"2024-05-26T13:00:00+00:00","date_end":"2024-05-26T15:00:00+00:00","gmt_offset":"02:00:00","session_type":"Race","meeting_key":1236,"location":"Monaco","country_key":114,"country_code":"MON","country_name":"Monaco","circuit_key":22,"circuit_short_name":"Monte Carlo","year":2024}]'